.OrderForm tr:hover td {
  background: none !important;
}

.order-form-table tr:hover td {
  background: transparent !important;
}


.table-wrapper {
  overflow-x: visible;
  min-width: 100%;
  table-layout: fixed;
  overflow-y: visible;
  border: #e60000;
}

thead.sticky-shadow {
  box-shadow: 0 -4px 6px -4px rgba(0, 0, 0, 0.3); /* shadow on top only */
}


/*
Source - https://stackoverflow.com/a
Posted by juliomalves, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-26, License - CC BY-SA 4.0
*/

 .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: transparent; /* container color */
    box-shadow: none; /* remove any shadow/border effect */
    border: none; /* optional */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #bbbdc1;
    border-radius: 3px;
    background-clip: padding-box;
    max-height: 5px; 
  }



  /* .scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #D1D5DB;
  } */






