.OrderForm tr:hover td {
  background: none !important;
}

.order-form-table tr:hover td {
  background: transparent !important;
}


.table-wrapper {
  overflow-x: visible;
  min-width: 100%;
  table-layout: fixed;
  overflow-y: visible;
  position: re;
  border: #e60000;
}


